MODE=development # development
HOST=127.0.0.1

CORS_ORIGIN=http://localhost:9000

# APP PORTS
PORT_IDENTITY=8090
PORT_CRM=8091
PORT_ENGINEERING=8092
PORT_FINANCE=8093
PORT_PROCUREMENT=8094
PORT_PROJECT_MANAGEMENT=8095
PORT_HRIS=8096

IDENTITY_URL=http://localhost:8090/
CRM_URL=http://localhost:8091/
ENGINEERING_URL=http://localhost:8092/
FINANCE_URL=http://localhost:8093/
PROCUREMENT_URL=http://localhost:8094/
PROJECT_MANAGEMENT_URL=http://localhost:8095/
HRIS_URL=http://localhost:8096/
LOGS_URL=http://localhost:8090/v1/audit-trails
NOTIF_URL=http://localhost:8090/v1/auth/notifications

# DATABASE
DB_USER=postgres
DB_PASSWORD=12345678
DB_HOST=localhost:5432
DB_NAME=unais_erp

# JWT
# TOKEN_SCHEMA=token
TOKEN_SCHEMA=password
JWT_SECRET=YmF0YWtndW1icmVuZw
JWT_EXPIRED_MINUTE=30
JWT_EXPIRED_REMEMBER=1440

FERNET_KEY=aIBYuZqyk5JxiR4k4zV3oYXHF9ZOBfMeKrb1rXz5rZg=
JWT_SECRET_WB_APP=aIBYuZqyk5JxiR4k4zV3oYXHF9ZOBfMeKrb1rXz5rZg=

STORAGE_CONFIG_FILE=storage_config.json # Path to your config file
ACTIVE_STORAGE_ID=STATIC_1 # Active account ID (refer to ID in storage_config.json)

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=12345678