<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>[[ params.title ]]</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
  <link rel="stylesheet" type="text/css" href="[[app_url]]/ui/build-vendor.css?v=[[ver]]">
  <link rel="stylesheet" type="text/css" href="[[app_url]]/ui/build-app.css?v=[[ver]]">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="https://cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script>
  
  <style>
    table.bordered {
      border-collapse: collapse;
      width: 100%;
      font-size: 10.5px;
    }

    table.bordered th, table.bordered td {
      border: 1px solid #ddd !important;
    }

    table.bordered-light {
      border-collapse: collapse;
      width: 100%;
    }

    table.bordered-light th, table.bordered-light td {
      border: 0.1px dashed #ddd;
    }
  </style>
</head>
<body>
  <script src="[[app_url]]/ui/quasar/vue.js?v=[[ver]]"></script>
  <script src="[[app_url]]/ui/quasar/quasar.js?v=[[ver]]"></script>
  <script src="[[app_url]]/ui/quasar/helper.js?v=[[ver]]"></script>
  <div id="q-app">